version: '2.4'

services:
  core:
    image: jumpserver/core:${VERSION}
    container_name: jms_core
    restart: always
    tty: true
    command: start web
    env_file:
      - ${CONFIG_FILE}
    volumes:
      - ${CONFIG_DIR}/core/config.yml:/opt/jumpserver/config.yml
      - ${VOLUME_DIR}/core/data:/opt/jumpserver/data
      - ${VOLUME_DIR}/core/logs:/opt/jumpserver/logs
    healthcheck:
      test: ["curl -fsL http://localhost:8080/api/health/ > /dev/null"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
    networks:
      - net

  luna:
    image: jumpserver/luna:${VERSION}
    container_name: jms_luna
    restart: always
    depends_on:
      core:
        condition: service_healthy
    healthcheck:
      test: "curl -fsL http://localhost/luna/ > /dev/null"
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    networks:
      - net

  lina:
    image: jumpserver/lina:${VERSION}
    container_name: jms_lina
    restart: always
    depends_on:
      core:
        condition: service_healthy
    healthcheck:
      test: "curl -fsL http://localhost/ > /dev/null"
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    networks:
      - net

  koko:
    image: jumpserver/koko:${VERSION}
    container_name: jms_koko
    restart: always
    tty: true
    env_file:
      - ${CONFIG_FILE}
    volumes:
      - ${CONFIG_DIR}/koko/config.yml:/opt/koko/config.yml
      - ${VOLUME_DIR}/koko/data:/opt/koko/data
    depends_on:
      core:
        condition: service_healthy
    privileged: true
    healthcheck:
      test: "curl -fsL http://localhost:5000/koko/health/ > /dev/null"
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    networks:
      - net

  lion:
    image: jumpserver/lion:${VERSION}
    container_name: jms_lion
    env_file:
      - ${CONFIG_FILE}
    restart: always
    volumes:
      - ${VOLUME_DIR}/lion/data:/opt/lion/data
    depends_on:
      core:
        condition: service_healthy
    healthcheck:
      test: "curl -fsL http://localhost:8081/lion/health/ > /dev/null"
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    networks:
      - net

  nginx:
    image: jumpserver/nginx:alpine2
    container_name: jms_nginx
    restart: always
    volumes:
      - ./config_static/http_server.conf:/etc/nginx/conf.d/default.conf
      - ${CONFIG_DIR}/nginx/cert:/etc/nginx/cert
      - ${VOLUME_DIR}/core/data:/data
      - ${VOLUME_DIR}/nginx/log:/var/log/nginx
    depends_on:
      core:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "test", "-f", "/var/run/nginx.pid"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s
    networks:
      - net
