version: '2.2'

services:
  celery:
    image: jumpserver/core:${VERSION}
    container_name: jms_celery
    restart: always
    tty: true
    command: task
    depends_on:
      core:
        condition: service_healthy
    env_file:
      - ${CONFIG_FILE}
    environment:
      - SERVER_HOSTNAME=${HOSTNAME}
    volumes:
      - ${VOLUME_DIR}/core/data:/opt/jumpserver/data
      - ${VOLUME_DIR}/core/logs:/opt/jumpserver/logs
    healthcheck:
      test: "cd /opt/jumpserver/apps && celery -A ops inspect ping  | grep -o -E 'ansible|celery' | sort | uniq | grep -A 1 'ansible' | grep 'celery' || exit 3"
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      - net
