version: '2.4'

services:
  core:
    image: registry.fit2cloud.com/jumpserver/core:${VERSION}

  celery:
    image: registry.fit2cloud.com/jumpserver/core:${VERSION}

  omnidb:
    image: registry.fit2cloud.com/jumpserver/omnidb:${VERSION}
    container_name: jms_omnidb
    ulimits:
      core: 0
    restart: always
    tty: true
    env_file:
      - ${CONFIG_FILE}
    volumes:
      - ${VOLUME_DIR}/omnidb/data:/opt/omnidb/data
    depends_on:
      core:
        condition: service_healthy
    healthcheck:
      test: "ps axu | grep -v 'grep' | grep 'omnidb'"
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    networks:
      - net

  razor:
    image: registry.fit2cloud.com/jumpserver/razor:${VERSION}
    container_name: jms_razor
    ulimits:
      core: 0
    restart: always
    tty: true
    env_file:
      - ${CONFIG_FILE}
    ports:
      - ${RDP_PORT}:3389
    volumes:
      - ${VOLUME_DIR}/razor/data:/opt/razor/data
      - ${CONFIG_DIR}/nginx/cert:/opt/razor/cert
    depends_on:
      core:
        condition: service_healthy
    healthcheck:
      test: "ps axu | grep -v 'grep' | grep 'razor'"
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    networks:
      - net
