version: '2.2'

services:
  celery:
    image: jumpserver/core:${VERSION}
    container_name: jms_celery
    restart: always
    tty: true
    command: start task
    depends_on:
      core:
        condition: service_healthy
    env_file:
      - ${CONFIG_FILE}
    environment:
      - SERVER_HOSTNAME=${HOSTNAME}
    volumes:
      - ${VOLUME_DIR}/core/data:/opt/jumpserver/data
      - ${VOLUME_DIR}/core/logs:/opt/jumpserver/logs
    healthcheck:
      test: "cd /opt/jumpserver/apps && python manage.py check_celery"
      interval: 10s
      timeout: 10s
      retries: 10
    networks:
      - net
