version: '2.2'

services:
  core:
    depends_on:
      redis:
        condition: service_healthy
  es:
    image: jumpserver/elasticsearch:7.9.3
    container_name: jms_es
    restart: always
    volumes:
      - ${VOLUME_DIR}/elasticsearch/data:/usr/share/elasticsearch/data
      - ${CONFIG_DIR}/redis/redis.conf:/etc/redis.conf
    ulimits:
      memlock:
        soft: -1
        hard: -1
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "$$REDIS_PASSWORD", "info"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - net
