version: '2.2'

services:
  omnidb:
    image: jumpserver/omnidb:${VERSION}
    container_name: jms_omnidb
    env_file:
      - ${CONFIG_FILE}
    restart: always
    volumes:
      - ${VOLUME_DIR}/omnidb/data:/opt/omnidb/data
    depends_on:
      core:
        condition: service_healthy
    healthcheck:
      test: "ps axu | grep 'omnidb'"
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - net
