version: '2.4'

services:
  celery:
    image: jumpserver/core:${VERSION}
    container_name: jms_celery
    restart: always
    tty: true
    command: start task
    depends_on:
      core:
        condition: service_healthy
    env_file:
      - ${CONFIG_FILE}
    environment:
      - SERVER_HOSTNAME=${HOSTNAME}
    healthcheck:
      test: "bash /opt/jumpserver/utils/check_celery.sh"
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
    volumes:
      - ${VOLUME_DIR}/core/data:/opt/jumpserver/data
      - ${VOLUME_DIR}/core/logs:/opt/jumpserver/logs
    networks:
      - net
