version: '2.2'

services:
  core:
    depends_on:
      redis:
        condition: service_healthy
  redis:
    image: jumpserver/redis:6.0.9-alpine
    container_name: jms_redis
    restart: always
    volumes:
      - ${VOLUME_DIR}/redis/data:/data
      - ${CONFIG_DIR}/redis/redis.conf:/etc/redis.conf
    command: ["redis-server", "/etc/redis.conf", "--requirepass", "$REDIS_PASSWORD"]
    env_file:
      - ${CONFIG_FILE}
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "$$REDIS_PASSWORD", "info"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - net